@import url('./waves.css');
@import url('./clouds.css');

.fl {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	align-self: center;
	pointer-events: none;
}
.fl--typed {
	pointer-events: all;
}
.fl__logo {
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.fl__logo::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#00000000 50%, var(--bg-color-primary));
	pointer-events: none;
}
.fl__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: transform 1s, opacity 2s ease-in-out;
	transform: translateY(-50%);
	padding-top: 40px;
}
.fl__header {
	justify-content: center;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	transition: top 1s, transform 1s ease-in-out;
	user-select: none;
}
.fl--typed > .fl__header {
	top: 0%;
}
.fl--typed > .fl__content {
	opacity: 1;
	transform: translateY(0%);
}
.fl__logo-img {
	width: 120px;
	animation-name: flamingopulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: bottom center;
	user-select: none;
}
.fl__nav {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	padding: 0;
}
.fl__nav-item {
	position: relative;
	color: var(--primary-text);
	font-weight: bold;
}
.fl__nav-link {
	padding: 5px 10px;
	text-decoration: none;
	color: inherit;
	display: block;
	position: relative;
}
.fl__nav-link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	background: linear-gradient(
		to right,
		var(--bg-color-primary),
		var(--primary-text)
	);
	width: 0%;
	transition: width 250ms ease-in;
}
.fl__nav-link::after {
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 4px;
	background-image: url('/assets/flamingo.png');
	background-size: 16px;
	background-position: center right;
	opacity: 0;
	transition: left 250ms, opacity 250ms ease-in-out;
	animation-name: smallflamingopulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: bottom center;
	pointer-events: none;
}
.fl__nav-link:hover::after {
	left: calc(100% - 8px);
	opacity: 1;
}
.fl__nav-link:hover::before {
	width: 100%;
}
.fl__header {
	color: white;
	display: flex;
	align-items: center;
	height: 35px;
}
.fl__header > h1 {
	margin: 0;
}
.fl__header > .typed-cursor {
	position: relative;
}
.fl__header > .typed-cursor::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 24px;
	width: 8px;
	background: var(--primary-text);
}

@keyframes flamingopulse {
	from {
		transform: translateY(10%) translateX(6%) rotate(5deg);
	}
	to {
		transform: translateY(7%) translateX(-6%) rotate(0deg);
	}
}

@keyframes smallflamingopulse {
	from {
		rotate: 15deg;
	}
	to {
		rotate: -15deg;
	}
}
