---
import Layout from '../layouts/Layout.astro';
import { Content } from '../components/content';
---

<Layout title='Flamingo house - best house for pet projects'>
	<main>
		<Content client:load/>
	</main>
</Layout>

<style>
	main {
		max-width: 700px;
		height: var(--app-height);
		margin: auto;
		display: flex;
		justify-content: center;
	}
	@keyframes pulse {
	}
	@media screen and (max-width: 699px) {
		main {
			width: 100%;
		}
	}
</style>
