---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' href='/favicon.ico?v=4' />
		<meta name='generator' content={Astro.generator} />
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css2?family=Poppins'
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<script>
		const appHeight = () => {
			const doc = document.documentElement;
			doc.style.setProperty('--app-height', `${window.innerHeight}px`);
		};
		window.addEventListener('resize', appHeight);
		appHeight();
	</script>
</html>
<style is:global>
	:root {
		--bg-color-primary: #464353;
		--bg-color-secondary: #201e25;
		--primary-text: #e75f5f;
	}
	html {
		font-family: 'Poppins';
		background: linear-gradient(
			var(--bg-color-primary) 60%,
			var(--bg-color-secondary)
		);
	}
	body {
		margin: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
